$color-red: #c3073f; //#950740 #6F2232
$color-green: #14a76c;
$color-blue: #3500d3;
$color-black: #1a1a1d;
$color-grey: #4e4e50;

:root {
  --color-bg: #1a1a1d;
  --color-health: #14a76c;
  --color-card: #4e4e50;
  --color-text: #950740;
  --color-shadow: #6f2232;
  --color-red: #c3073f;
  --border-radius: 8px;
}

// :root {
//   --color-bg: #eee2dc;
//   --color-health: #ac3b61;
//   --color-card: #123c69;
//   --color-text: #ac3b61;
//   --color-shadow: #bab2b5;
//   --color-red: #edc7b7;
//   --border-radius: 8px;
// }
